<div class="main-content">
    <div class="story-gallery">
        <div class="story story1" [style.backgroundImage]="'url('+user[0].profile_img_url+')'">
            <img src="https://i.postimg.cc/TPh453Zz/upload.png">
            <p>Post Story</p>
        </div>
        <div class="story story2"  *ngFor="let story of stories;let i =index;" [style.backgroundImage]="'url('+story.story_img_url+')'">
            <img src={{story.profile_img_url}}>
            <p>{{story.fname}}</p>
        </div>
        <!-- <div class="story story3">
            <img src="https://i.postimg.cc/4NhqByys/member-2.png">
            <p>Jackson</p>
        </div>
        <div class="story story4">
            <img src="https://i.postimg.cc/FH5qqvkc/member-3.png">
            <p>Samona</p>
        </div>
        <div class="story story5">
            <img src="https://i.postimg.cc/Sx65bPcP/member-4.png">
            <p>John Doe</p>
        </div> -->
    </div>
    <div class="write-post-container">
        <div class="user-profile">
            <img src={{user[0].profile_img_url}}>
            <div>
                <p>{{user[0].fname}} {{user[0].lname}}</p>
                <small>Public <i class="fas fa-caret-down"></i></small>
            </div>
        </div>
        <div class="post-input-container">
            <textarea rows="3" placeholder="What's on your mind, {{user[0].fname}}?"></textarea>
            <div class="add-post-links">
                <a href="#"><img src="https://i.postimg.cc/QMD2BDXs/live-video.png">Live Video</a>
                <a href="#"><img src="https://i.postimg.cc/6pKKZn0D/photo.png">Photo/Video</a>
                <a href="#"><img src="https://i.postimg.cc/Pf6TBCdD/feeling.png">Feling/Activity</a>
            </div>
        </div>
    </div>
    <ng-template [ngIf]="posts.length>0">
        <div class="post-container" *ngFor="let post of posts">
            <div class="post-row">
                <div class="user-profile">
                    <img src={{post.profile_img_url}}>
                    <div>
                        <p>{{post.profile_fname}}&nbsp;{{post.profile_lname}}</p>
                       <span>{{formatDate(post.post_timestamp)}}</span>
                    </div>
                </div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-text">{{post.post_caption}}<a href="#">#VkiveTutorials</a> <a href="#">#YoutubeChannel</a></p>
            <img src={{post.post_img_url}} class="post-img">
            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">{{formatcount(post.like_count)}}</div>
                    <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">{{formatcount(post.comment_count)}}</div>
                    <div><img src="https://i.postimg.cc/T2bBchpG/share.png">{{formatcount(post.share_count)}}</div>
                </div>
                <div class="post-porfile-icon">
                    <img src="{{post.profile_img_url}}"><i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
    </ng-template>
    
    <!-- <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">Like and share this video with friends, tag<span>Vkive Tutorials</span>facebook page on your post.
        Ask your dobuts in the comments. <a href="#">#VkiveTutorials</a> <a href="#">#YoutubeChannel</a></p>
        <img src="https://i.postimg.cc/Xvc0xJ2p/feed-image-2.png" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div> -->
    <!-- <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">Like and share this video with friends, tag<span>Vkive Tutorials</span>facebook page on your post.
        Ask your dobuts in the comments. <a href="#">#VkiveTutorials</a> <a href="#">#YoutubeChannel</a></p>
        <img src="https://i.postimg.cc/tJ7QXz9x/feed-image-3.png" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div> -->
    <!-- <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">Like and share this video with friends, tag<span>Vkive Tutorials</span>facebook page on your post.
        Ask your dobuts in the comments. <a href="#">#VkiveTutorials</a> <a href="#">#YoutubeChannel</a></p>
        <img src="https://i.postimg.cc/hjDRYBwM/feed-image-4.png" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div>
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                   <span>June 24 2021, 13:40 pm</span>
                </div>
            </div>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">Like and share this video with friends, tag<span>Vkive Tutorials</span>facebook page on your post.
        Ask your dobuts in the comments. <a href="#">#VkiveTutorials</a> <a href="#">#YoutubeChannel</a></p>
        <img src="https://i.postimg.cc/ZRwztQzm/feed-image-5.png" class="post-img">
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="https://i.postimg.cc/pLKNXrMq/like-blue.png">120</div>
                <div><img src="https://i.postimg.cc/rmjMymWv/comments.png">45</div>
                <div><img src="https://i.postimg.cc/T2bBchpG/share.png">20</div>
            </div>
            <div class="post-porfile-icon">
                <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png"><i class="fas fa-caret-down"></i>
            </div>
        </div>
    </div> -->
    <button type="button" class="load-more-btn">Load More</button>
</div>